#include<iostream>
#include<string>
#include<malloc.h>
#define null 0
using namespace std;
template<class t>
class stack
{
private:
    struct node
    {
        t value;
        node *next;
    };
    typedef node* ptr;
    ptr new_node()
    {
        ptr p;
        p=(ptr)malloc(sizeof(node));
        return p;
    }
    ptr top ;
public:
    stack()
    {
        top=null;
    }
    void add_node(t v)
    {
        ptr p=new_node();
        p->value=v;
        p->next=top;
        top=p;
    }
    void del_node()
    {
        if(top==null)
            cout<<"stack is empty!\n";
        else
        {
            ptr l = top;
            top = top->next;
            l=l->next=null;
            free(l);
        }
    }
    void show()
    {

        ptr l=top;
        while(l!=null)
        {
            cout<<l->value<<" ";
            l=l->next;
        }
    }
};

int main()
{
    stack<int>s;
    s.show();
    return 0;
}

